.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    width: 80vw;
    height: 90vh;
    /*background-color: #0A4ED7;*/
    border: 5px solid black;
    border-radius: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    width: 100%;
    height: 13%;
    /*background-color: red;*/
}
.header h1{
    display: flex;
    margin-top: 0;
    font-family: Arial;
    font-weight: bold;

}
.body{
    display: flex;
    width: 100%;
    height: 87%;
    background-color: #cccccc;
}